Let's see what databases we have

In [27]:
import pandas as pd
import numpy as np

1. Horeca operating permits

In [28]:
permits = pd.read_csv('/Users/victoria/Project-Week-2-Amsterdam/datasets/Horeca_operating_permits.csv')

In [29]:
#clean it right away!
permits = permits.drop(['zaak_specificatie','o_tijden_terras_zo_do_van', 'o_tijden_terras_vr_za_tot', 'o_tijden_terras_vr_za_van', 'o_tijden_terras_zo_do_tot', 'openingstijden_vr_za_tot', 'openingstijden_vr_za_van', 'openingstijden_zo_do_tot', 'openingstijden_zo_do_van', 'status_tijdelijk_terras', 'tijdelijk_terras_details', 'publ_besluit_tijdelijk_terras', 'toestemming_tijdelijk_terras', 'terrasgeometrie'], axis=1)
permits

,id,adres,locatie,postcode,zaaknaam,einddatum,begindatum,zaaknummer,zaak_categorie,status_vergunning
0,0,Oudezijds Achterburgwal 39A,SRID=4326;POINT(4.89950415415049 52.373688354512),1012DA,Old Sailor,2022-12-01,2019-12-01,11610,Café,Verleend
1,1,Rembrandtplein 22-H,SRID=4326;POINT(4.89628909307282 52.3656402022...,1017CV,Prime,2021-07-01,2018-07-01,14214,Café,Verleend
2,2,Prinsengracht 188-H,SRID=4326;POINT(4.882675967099 52.3736628762474),1016HC,Amigo restaurant,2024-03-01,2019-03-01,13203,Restaurant,Verleend
3,3,Kloveniersburgwal 2-H,SRID=4326;POINT(4.8993009764928 52.3721326713526),1012CT,Temple Bar,2021-01-01,2019-01-01,15320,Café,Verleend
4,4,Amstel 31,SRID=4326;POINT(4.90177073152293 52.3664986198...,1011PT,Hooischip,2021-03-01,2018-03-01,1733,Café,Verleend
...,...,...,...,...,...,...,...,...,...,...
4185,4185,Buikslotermeerplein 537,SRID=4326;POINT(4.94116978673582 52.3979748877...,1025XH,Grand Café 't Plein,2020-07-01,2017-06-28,9804,Eethuis,Verleend
4186,4186,Haarlemmerstraat 77-H,SRID=4326;POINT(4.89157437676359 52.3802792956...,1013EL,EetCafé Harlem Soul Food,2021-01-01,2018-01-01,10586,Café,Verleend
4187,4187,Waterlooplein 2,SRID=4326;POINT(4.9003449501121 52.3686217030764),1011PG,Bagels & Beans Waterlooplein,2020-07-01,2015-07-01,10725,Alcoholvrij,Verleend
4188,4188,Gedempt Hamerkanaal 85,SRID=4326;POINT(4.92099988931741 52.3837753808...,1021KP,Oedipus Brewing,2021-11-01,2018-11-01,12582,Café,Verleend
4189,4189,Rijnstraat 11-H,SRID=4326;POINT(4.90469739907785 52.3484724774...,1078PT,Café Rivièra,2021-02-01,2015-12-03,4810,Café,Verleend

In [30]:
#status_vergunning (status of license)
permits['status_vergunning'].unique()
#we have 'Granted', 'Not yet known', 'Requested', nan,'Partially granted'

array(['Verleend', 'Nog niet bekend', 'Aangevraagd', nan,
       'Deels verleend'], dtype=object)

In [31]:
#we are interested only in 'Verleend' and 'Deels verleend' and the ones that will not expire soon
valid_permits = permits[(permits['status_vergunning'].isin(['Verleend','Deels verleend']))&
                        (permits['einddatum']>'2020-09-01')]
valid_permits

,id,adres,locatie,postcode,zaaknaam,einddatum,begindatum,zaaknummer,zaak_categorie,status_vergunning
0,0,Oudezijds Achterburgwal 39A,SRID=4326;POINT(4.89950415415049 52.373688354512),1012DA,Old Sailor,2022-12-01,2019-12-01,11610,Café,Verleend
1,1,Rembrandtplein 22-H,SRID=4326;POINT(4.89628909307282 52.3656402022...,1017CV,Prime,2021-07-01,2018-07-01,14214,Café,Verleend
2,2,Prinsengracht 188-H,SRID=4326;POINT(4.882675967099 52.3736628762474),1016HC,Amigo restaurant,2024-03-01,2019-03-01,13203,Restaurant,Verleend
3,3,Kloveniersburgwal 2-H,SRID=4326;POINT(4.8993009764928 52.3721326713526),1012CT,Temple Bar,2021-01-01,2019-01-01,15320,Café,Verleend
4,4,Amstel 31,SRID=4326;POINT(4.90177073152293 52.3664986198...,1011PT,Hooischip,2021-03-01,2018-03-01,1733,Café,Verleend
...,...,...,...,...,...,...,...,...,...,...
4183,4183,Tom Schreursweg 14,NaN,1067MC,Padel Dam B.V.,2022-05-13,2019-04-16,15252,Additionele horeca,Verleend
4184,4184,Bijlmerplein 561B,SRID=4326;POINT(4.95453832625572 52.314722143222),1102DS,Delifrance Amsterdamse Poort,2024-06-01,2019-06-01,13372,Eethuis,Verleend
4186,4186,Haarlemmerstraat 77-H,SRID=4326;POINT(4.89157437676359 52.3802792956...,1013EL,EetCafé Harlem Soul Food,2021-01-01,2018-01-01,10586,Café,Verleend
4188,4188,Gedempt Hamerkanaal 85,SRID=4326;POINT(4.92099988931741 52.3837753808...,1021KP,Oedipus Brewing,2021-11-01,2018-11-01,12582,Café,Verleend
4189,4189,Rijnstraat 11-H,SRID=4326;POINT(4.90469739907785 52.3484724774...,1078PT,Café Rivièra,2021-02-01,2015-12-03,4810,Café,Verleend

In [32]:
#now let's see what types of places we have
valid_permits['zaak_categorie'].unique()

array(['Café', 'Restaurant', 'Alcoholvrij', 'Eethuis', 'Culturele Horeca',
       'Fastfood', 'Additionele horeca', 'Hotel', 'Zalenverhuur',
       'Onbekend', 'Culturele horeca', 'Sociëteit', 'Nachtzaak',
       'Restaurant met zaalverhuur', 'Coffeeshop', 'Mengformule',
       'Café met zaalverhuur', 'Slijterij'], dtype=object)

In [33]:
#we stick to few of categories
filtered = valid_permits[(valid_permits['zaak_categorie'].isin(['Café', 'Restaurant', 'Alcoholvrij', 'Eethuis', 'Fastfood']))]
filtered

,id,adres,locatie,postcode,zaaknaam,einddatum,begindatum,zaaknummer,zaak_categorie,status_vergunning
0,0,Oudezijds Achterburgwal 39A,SRID=4326;POINT(4.89950415415049 52.373688354512),1012DA,Old Sailor,2022-12-01,2019-12-01,11610,Café,Verleend
1,1,Rembrandtplein 22-H,SRID=4326;POINT(4.89628909307282 52.3656402022...,1017CV,Prime,2021-07-01,2018-07-01,14214,Café,Verleend
2,2,Prinsengracht 188-H,SRID=4326;POINT(4.882675967099 52.3736628762474),1016HC,Amigo restaurant,2024-03-01,2019-03-01,13203,Restaurant,Verleend
3,3,Kloveniersburgwal 2-H,SRID=4326;POINT(4.8993009764928 52.3721326713526),1012CT,Temple Bar,2021-01-01,2019-01-01,15320,Café,Verleend
4,4,Amstel 31,SRID=4326;POINT(4.90177073152293 52.3664986198...,1011PT,Hooischip,2021-03-01,2018-03-01,1733,Café,Verleend
...,...,...,...,...,...,...,...,...,...,...
4182,4182,Camperstraat 48,SRID=4326;POINT(4.91337383052741 52.3578455950...,1091AH,Camper 48 B.V.,2020-12-01,2017-12-01,14330,Restaurant,Verleend
4184,4184,Bijlmerplein 561B,SRID=4326;POINT(4.95453832625572 52.314722143222),1102DS,Delifrance Amsterdamse Poort,2024-06-01,2019-06-01,13372,Eethuis,Verleend
4186,4186,Haarlemmerstraat 77-H,SRID=4326;POINT(4.89157437676359 52.3802792956...,1013EL,EetCafé Harlem Soul Food,2021-01-01,2018-01-01,10586,Café,Verleend
4188,4188,Gedempt Hamerkanaal 85,SRID=4326;POINT(4.92099988931741 52.3837753808...,1021KP,Oedipus Brewing,2021-11-01,2018-11-01,12582,Café,Verleend
4189,4189,Rijnstraat 11-H,SRID=4326;POINT(4.90469739907785 52.3484724774...,1078PT,Café Rivièra,2021-02-01,2015-12-03,4810,Café,Verleend

In [34]:
#numbers by categories for the whole Amsterdam
filtered['zaak_categorie'].value_counts()

Restaurant     1450
Café            904
Alcoholvrij     414
Fastfood        245
Eethuis         145
Name: zaak_categorie, dtype: int64

In [135]:
#now let's see their distribution areas. firstly we take a smaller areas by postcode
filtered1 = filtered['postcode'].value_counts()
filtered1.head(10)

1012JM    13
1017CV    12
1101AX    11
1017CS    11
1017DA    11
1017PT    11
1017CR    10
1012AA    10
1017VN    10
1017NG    10
Name: postcode, dtype: int64

In [137]:
#what categories are present in our leading street? 
filtered_top=filtered[(filtered['postcode']=='1012JM')]
filtered_top['zaak_categorie'].value_counts()

Restaurant    8
Fastfood      4
Café          1
Name: zaak_categorie, dtype: int64

In [37]:
#new column with postcode numbers only for searching larger areas
filtered_num = filtered['postcode'].str.extract('([0-9]+)')
filtered['postcode num'] = filtered_num
filtered

/usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,id,adres,locatie,postcode,zaaknaam,einddatum,begindatum,zaaknummer,zaak_categorie,status_vergunning,postcode num
0,0,Oudezijds Achterburgwal 39A,SRID=4326;POINT(4.89950415415049 52.373688354512),1012DA,Old Sailor,2022-12-01,2019-12-01,11610,Café,Verleend,1012
1,1,Rembrandtplein 22-H,SRID=4326;POINT(4.89628909307282 52.3656402022...,1017CV,Prime,2021-07-01,2018-07-01,14214,Café,Verleend,1017
2,2,Prinsengracht 188-H,SRID=4326;POINT(4.882675967099 52.3736628762474),1016HC,Amigo restaurant,2024-03-01,2019-03-01,13203,Restaurant,Verleend,1016
3,3,Kloveniersburgwal 2-H,SRID=4326;POINT(4.8993009764928 52.3721326713526),1012CT,Temple Bar,2021-01-01,2019-01-01,15320,Café,Verleend,1012
4,4,Amstel 31,SRID=4326;POINT(4.90177073152293 52.3664986198...,1011PT,Hooischip,2021-03-01,2018-03-01,1733,Café,Verleend,1011
...,...,...,...,...,...,...,...,...,...,...,...
4182,4182,Camperstraat 48,SRID=4326;POINT(4.91337383052741 52.3578455950...,1091AH,Camper 48 B.V.,2020-12-01,2017-12-01,14330,Restaurant,Verleend,1091
4184,4184,Bijlmerplein 561B,SRID=4326;POINT(4.95453832625572 52.314722143222),1102DS,Delifrance Amsterdamse Poort,2024-06-01,2019-06-01,13372,Eethuis,Verleend,1102
4186,4186,Haarlemmerstraat 77-H,SRID=4326;POINT(4.89157437676359 52.3802792956...,1013EL,EetCafé Harlem Soul Food,2021-01-01,2018-01-01,10586,Café,Verleend,1013
4188,4188,Gedempt Hamerkanaal 85,SRID=4326;POINT(4.92099988931741 52.3837753808...,1021KP,Oedipus Brewing,2021-11-01,2018-11-01,12582,Café,Verleend,1021
4189,4189,Rijnstraat 11-H,SRID=4326;POINT(4.90469739907785 52.3484724774...,1078PT,Café Rivièra,2021-02-01,2015-12-03,4810,Café,Verleend,1078

In [146]:
#larger areas-leaders (city centre, no surprises)
filtered1 = filtered['postcode num'].value_counts()
filtered1.head(10)

1012    582
1017    397
1072    144
1016    117
1015    107
1013    100
1011     93
1053     84
1018     82
1054     69
Name: postcode num, dtype: int64

In [140]:
#street-leaders of the leading area
filtered_1012=filtered[(filtered['postcode num']=='1012')]
filtered_1012['postcode'].value_counts().head(5)

1012JM    13
1012AA    10
1012PV     9
1012AB     9
1012JP     9
Name: postcode, dtype: int64

In [141]:
#areas with least eating places (no wonder, they are too far)
filtered1 = filtered['postcode num'].value_counts()
filtered1.tail(10)

1103    5
1107    4
1086    3
1109    2
1028    2
1034    2
1026    2
1108    1
1047    1
1060    1
Name: postcode num, dtype: int64

In [142]:
#myheigbourhood
filtered_1095=filtered[(filtered['postcode num']=='1095')]
filtered_1095['zaak_categorie'].value_counts()

Fastfood       6
Restaurant     6
Café           6
Alcoholvrij    3
Eethuis        3
Name: zaak_categorie, dtype: int64

In [68]:
#let's see how their are distributed according to population. open new dataframe with population according to postcode
population = pd.read_csv('/Users/victoria/Project-Week-2-Amsterdam/datasets/Population.csv', sep=';')
population

         ID Geslacht Migratieachtergrond  Postcode  Perioden  Bevolking_1
0        21  T001038             T001040  NL01      2019JJ00   17282163.0
1        43  T001038             T001040  PC0999    2019JJ00       1835.0
2        65  T001038             T001040  PC1011    2019JJ00       9670.0
3        87  T001038             T001040  PC1012    2019JJ00       8420.0
4       109  T001038             T001040  PC1013    2019JJ00      21335.0
...     ...      ...                 ...       ...       ...          ...
4069  89539  T001038             T001040  PC9995    2019JJ00        685.0
4070  89561  T001038             T001040  PC9996    2019JJ00         70.0
4071  89583  T001038             T001040  PC9997    2019JJ00        610.0
4072  89605  T001038             T001040  PC9998    2019JJ00        180.0
4073  89627  T001038             T001040  PC9999    2019JJ00        100.0

[4074 rows x 6 columns]

In [69]:
population_num = population['Postcode'].str.extract('([0-9]+)')
population['postcode num'] = population_num
population

,ID,Geslacht,Migratieachtergrond,Postcode,Perioden,Bevolking_1,postcode num
0,21,T001038,T001040,NL01,2019JJ00,17282163.0,01
1,43,T001038,T001040,PC0999,2019JJ00,1835.0,0999
2,65,T001038,T001040,PC1011,2019JJ00,9670.0,1011
3,87,T001038,T001040,PC1012,2019JJ00,8420.0,1012
4,109,T001038,T001040,PC1013,2019JJ00,21335.0,1013
...,...,...,...,...,...,...,...
4069,89539,T001038,T001040,PC9995,2019JJ00,685.0,9995
4070,89561,T001038,T001040,PC9996,2019JJ00,70.0,9996
4071,89583,T001038,T001040,PC9997,2019JJ00,610.0,9997
4072,89605,T001038,T001040,PC9998,2019JJ00,180.0,9998
4073,89627,T001038,T001040,PC9999,2019JJ00,100.0,9999

In [70]:
#dropped columns that I don't need
#population = population.drop('ID', axis=1)
#population = population.drop('Perioden', axis=1)
#population = population.drop('Migratieachtergrond', axis=1)
#population = population.drop('Geslacht', axis=1)
population

,ID,Geslacht,Migratieachtergrond,Postcode,Perioden,Bevolking_1,postcode num
0,21,T001038,T001040,NL01,2019JJ00,17282163.0,01
1,43,T001038,T001040,PC0999,2019JJ00,1835.0,0999
2,65,T001038,T001040,PC1011,2019JJ00,9670.0,1011
3,87,T001038,T001040,PC1012,2019JJ00,8420.0,1012
4,109,T001038,T001040,PC1013,2019JJ00,21335.0,1013
...,...,...,...,...,...,...,...
4069,89539,T001038,T001040,PC9995,2019JJ00,685.0,9995
4070,89561,T001038,T001040,PC9996,2019JJ00,70.0,9996
4071,89583,T001038,T001040,PC9997,2019JJ00,610.0,9997
4072,89605,T001038,T001040,PC9998,2019JJ00,180.0,9998
4073,89627,T001038,T001040,PC9999,2019JJ00,100.0,9999

In [71]:
#we only need postcodes that we have in our "filtered" dataframe 
#postcodes = filtered['postcode num'].unique()
# postcodes
postcodes = filtered.sort_values(['postcode num'], ascending=True)
#so in filtered dataframe we have postcodes from 1011 to 1109

In [72]:
#converting type in population table
population['postcode num'] = population['postcode num'].astype(str).astype(int)
population['postcode num']

0          1
1        999
2       1011
3       1012
4       1013
        ...
4069    9995
4070    9996
4071    9997
4072    9998
4073    9999
Name: postcode num, Length: 4074, dtype: int64

In [74]:
#creating new table with amsterdam only postcodes
population_ams = population[population['postcode num'].between(1011,1109)]
population_ams

,ID,Geslacht,Migratieachtergrond,Postcode,Perioden,Bevolking_1,postcode num
2,65,T001038,T001040,PC1011,2019JJ00,9670.0,1011
3,87,T001038,T001040,PC1012,2019JJ00,8420.0,1012
4,109,T001038,T001040,PC1013,2019JJ00,21335.0,1013
5,131,T001038,T001040,PC1014,2019JJ00,1745.0,1014
6,153,T001038,T001040,PC1015,2019JJ00,14880.0,1015
...,...,...,...,...,...,...,...
79,1759,T001038,T001040,PC1105,2019JJ00,615.0,1105
80,1781,T001038,T001040,PC1106,2019JJ00,18095.0,1106
81,1803,T001038,T001040,PC1107,2019JJ00,11600.0,1107
82,1825,T001038,T001040,PC1108,2019JJ00,2920.0,1108
83,1847,T001038,T001040,PC1109,2019JJ00,1605.0,1109

In [75]:

population_ams1 = population_ams.sort_values(by='Bevolking_1', ascending=False)
population_ams1.head(10)

,ID,Geslacht,Migratieachtergrond,Postcode,Perioden,Bevolking_1,postcode num
51,1143,T001038,T001040,PC1069,2019JJ00,26265.0,1069
76,1693,T001038,T001040,PC1102,2019JJ00,24175.0,1102
4,109,T001038,T001040,PC1013,2019JJ00,21335.0,1013
37,835,T001038,T001040,PC1055,2019JJ00,20960.0,1055
9,219,T001038,T001040,PC1018,2019JJ00,20920.0,1018
38,857,T001038,T001040,PC1056,2019JJ00,20245.0,1056
49,1099,T001038,T001040,PC1067,2019JJ00,19840.0,1067
65,1451,T001038,T001040,PC1087,2019JJ00,19530.0,1087
10,241,T001038,T001040,PC1019,2019JJ00,18910.0,1019
80,1781,T001038,T001040,PC1106,2019JJ00,18095.0,1106

In [235]:
#now let's see how many cafes in the most populated area
filtered_1069=filtered[(filtered['postcode num']=='1069')]
filtered_1069.count()
#only26!

id                   26
adres                26
locatie              26
postcode             26
zaaknaam             26
einddatum            26
begindatum           26
zaaknummer           26
zaak_categorie       26
status_vergunning    26
zaak_specificatie    26
postcode num         26
dtype: int64

In [236]:
filtered_1102=filtered[(filtered['postcode num']=='1102')]
filtered_1102.count()

id                   28
adres                28
locatie              28
postcode             28
zaaknaam             28
einddatum            28
begindatum           28
zaaknummer           28
zaak_categorie       28
status_vergunning    28
zaak_specificatie    28
postcode num         28
dtype: int64

In [238]:
filtered_1013=filtered[(filtered['postcode num']=='1013')]
filtered_1013.count()
#good result!

id                   100
adres                100
locatie               99
postcode             100
zaaknaam              99
einddatum            100
begindatum           100
zaaknummer           100
zaak_categorie       100
status_vergunning    100
zaak_specificatie    100
postcode num         100
dtype: int64

In [239]:
filtered_1055=filtered[(filtered['postcode num']=='1055')]
filtered_1055.count()
#quite okay

id                   42
adres                42
locatie              42
postcode             42
zaaknaam             42
einddatum            42
begindatum           42
zaaknummer           42
zaak_categorie       42
status_vergunning    42
zaak_specificatie    42
postcode num         42
dtype: int64

In [ ]:
#1018 82, also nice result

In [77]:
filtered_1106=filtered[(filtered['postcode num']=='1106')]
filtered_1106.count()
#only 8

id                   8
adres                8
locatie              8
postcode             8
zaaknaam             8
einddatum            8
begindatum           8
zaaknummer           8
zaak_categorie       8
status_vergunning    8
postcode num         8
dtype: int64

In [281]:
#let's look at the hotels
hotels = pd.read_excel('/Users/victoria/Project-Week-2-Amsterdam/datasets/Hotels.xlsx')
hotels_new_column = hotels['POSTCODE_2014'].str.extract('([0-9]+)')
hotels['POSTCODE']= hotels_new_column
hotels

,HOTELNAAM_2014,NHC_2014,KAM_2014,BED_2014,STRAAT_2014,HUISID_2014,POSTCODE_2014,BRTK10,unesco,Soort_hotel_hostel/ jeugdherberg,POSTCODE
0,AMSTERDAM AMERICAN HOTEL - HAMPSHIRE EDEN,4,175,354,LEIDSEKADE,97,1017PN,A07b,B,hotel,1017
1,AMSTEL INTERCONTINENTAL AMSTERDAM,5,79,165,PROFESSOR TULPPLEIN,1,1018GX,A08b,B,hotel,1018
2,"AMSTERDAM CENTRE,NH",4,232,462,STADHOUDERSKADE,7,1054ES,E22a,NaN,hotel,1054
3,"BARBIZON PALACE,NH",5,274,544,PRINS HENDRIKKADE,59-72,1012AD,A00a,B,hotel,1012
4,"DOELEN HOTEL,NH",4,85,162,NIEUWE DOELENSTRAAT,24,1012CP,A00e,B,hotel,1012
...,...,...,...,...,...,...,...,...,...,...,...
417,B&B Apostrophe,0,3,6,Geerdinkhof,258,1103RA,T94j,NaN,"B&B, pension, appartamenten, guesthouse, boere...",1103
418,Hampton by Hilton Amsterdam Arena Boulevard,3,260,520,Hoekenrode,1,1102BR,T93e,NaN,hotel,1102
419,Reijgersbroeck Bed & Breakfast,0,4,8,Provincialeweg,30,1108AB,T95b,NaN,"B&B, pension, appartamenten, guesthouse, boere...",1108
420,Brooklyn hotel,4,88,160,NDSM - Plein,28,1033WB,N71d,NaN,hotel,1033
421,totaal,421 hotels,26287,56718,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [284]:
hotels['POSTCODE'].value_counts().head(10)

1012    104
1017     73
1071     42
1054     31
1016     27
1018     16
1011     14
1015     11
1013     10
1077      9
Name: POSTCODE, dtype: int64

In [7]:
#new table Tripadvisor rating
ratings = pd.read_csv('/Users/victoria/Project-Week-2-Amsterdam/datasets/TA_restaurants_curated.csv')
ratings = ratings[(ratings['City']=='Amsterdam')]

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...,d11752080
1,1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",/Restaurant_Review-g188590-d693419-Reviews-De_...,d693419
2,2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",/Restaurant_Review-g188590-d696959-Reviews-La_...,d696959
3,3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...,d1239229
4,4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",/Restaurant_Review-g188590-d6864170-Reviews-Li...,d6864170
...,...,...,...,...,...,...,...,...,...,...,...
3429,3429,Soundbites by LUTE,Amsterdam,"['Fast Food', 'European']",NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g188590-d13353647-Reviews-S...,d13353647
3430,3430,Burrata,Amsterdam,['Italian'],NaN,NaN,$$ - $$$,NaN,NaN,/Restaurant_Review-g188590-d13356788-Reviews-B...,d13356788
3431,3431,La Pecheria,Amsterdam,['Italian'],NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g188590-d13356963-Reviews-L...,d13356963
3432,3432,Bread and Salt,Amsterdam,['Middle Eastern'],NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g188590-d13360392-Reviews-B...,d13360392
3433,3433,Amstel Lounge,Amsterdam,['International'],NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g188590-d13362335-Reviews-A...,d13362335

In [46]:
ratings1 = ratings.sort_values(by=['Rating', 'Number of Reviews'], ascending=False)
ratings1.head(10) 
#I can't match it with my table on name, because some of these are not in Permits HoReCa database

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
3,3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...,d1239229
183,183,Utrechtsedwarstafel,Amsterdam,"['French', 'Dutch', 'European', 'Gluten Free O...",184.0,5.0,$$$$,220.0,"[['Memorable dining experience', 'Great food a...",/Restaurant_Review-g188590-d1111389-Reviews-Ut...,d1111389
135,135,Wink,Amsterdam,"['Mediterranean', 'European', 'Vegetarian Frie...",136.0,5.0,$$ - $$$,199.0,[['This must be one of the most underated res....,/Restaurant_Review-g188590-d4420532-Reviews-Wi...,d4420532
0,0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...,d11752080
141,141,Bistrot des Alpes,Amsterdam,"['French', 'Swiss', 'European', 'Central Europ...",142.0,5.0,$$ - $$$,136.0,"[['Yummy cheese fondue', 'Great place !'], ['1...",/Restaurant_Review-g188590-d7735788-Reviews-Bi...,d7735788
163,163,Sir Hummus,Amsterdam,"['Healthy', 'Middle Eastern', 'Vegetarian Frie...",164.0,5.0,$,126.0,"[['Great service, great food!', 'Amazing Hummu...",/Restaurant_Review-g188590-d7607446-Reviews-Si...,d7607446
254,254,Jaspers,Amsterdam,"['Dutch', 'European', 'French', 'Gluten Free O...",255.0,5.0,$$$$,126.0,"[['Christmas eve dinner', 'Excellent meal'], [...",/Restaurant_Review-g188590-d3628712-Reviews-Ja...,d3628712
359,359,Cuddle,Amsterdam,"['Bar', 'International', 'Pub', 'Vegetarian Fr...",360.0,5.0,$,116.0,"[['Best bar in Amsterdam', 'Best pub in Amster...",/Restaurant_Review-g188590-d11949427-Reviews-C...,d11949427
113,113,Locanda,Amsterdam,"['Italian', 'Mediterranean', 'European', 'Vege...",114.0,5.0,$$ - $$$,93.0,"[['Gorgeous food', 'What am absolutely amazing...",/Restaurant_Review-g188590-d12212540-Reviews-L...,d12212540
233,233,Benny’s Chicken,Amsterdam,"['Dutch', 'Fast Food', 'Barbecue', 'European',...",234.0,5.0,$,88.0,"[['Great chicken sandwich!', 'Fresh, Cheap and...",/Restaurant_Review-g188590-d10522612-Reviews-B...,d10522612